@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
:root {
  --bg-color: #0a111e;
  --text-color: #a29de5;
  --title-font: 1.25rem;
  --body-font: 3rem;
  --container-color: hsl(219, 32%, 12%);
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Nunito", sans-serif;
}
.nav {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 2.5rem 2.5rem;
}
.logo,
.link {
  color: var(--text-color);
  font-size: var(--title-font);
}
.list-item,
.link-item {
  list-style: none;
}

.transition {
  animation: fadeIn 3s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.tab {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  bottom: 1rem;
  font-size: 1rem;
  background-color: var(--text-color);
  border-radius: 1.5rem;
  margin: 5rem 30%;
}
.tab-list,
.tab-container,
a {
  color: #eee;
  display: flex;
  font-weight: 200;
  padding: 10px 0.9rem;
}
a {
  text-decoration: none;
}
.tab-list a:hover {
  color: rgb(193, 190, 190);
}
.link:hover {
  color: #5e58b6;
}
.hero {
  color: white;
  margin-top: 10rem;
  text-align: center;
}
.hero h3 {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}
.hero h1 {
  font-size: 3rem;
}
.hero h3:last-child {
  color: rgb(207, 206, 206);
}
.hero button {
  border: none;
  color: white;
  background-color: #a29de5;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #a29de5;
}
.hero .btn-1 {
  background-color: transparent;
  color: #a29de5;
}
.btn-1:hover {
  color: whitesmoke;
  background-color: #a29de5;
}
.btn-2:hover {
  color: #a29de5;
  background-color: var(--container-color);
}
.about {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #eee;
  margin-top: 5rem;
}
.about .info {
  font-size: 1rem;
  padding: 1rem;
}
.about .me {
  font-size: 1.5rem;
  color: #a29de5;
}
.about-body {
  font-family: "Nunito", sans-serif;
  color: #eee;
  padding: 1.5rem 20%;
  font-size: 1.2rem;
  text-align: left;
}
