.container {
  justify-content: center;
  display: flex;
}
body {
  background-image: url("/assets/img/fc48688993507d71fd61fb4c492914cc.jpg");
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  background-color: black;
}
.textum {
  color: rgb(214, 212, 212);
}
.bg-bluee {
  background-color: rgb(199, 67, 67);
}
